@font-face {
		font-family: "chatusername";
		src: url("/../../fonts/Roboto-BoldItalic.TTF");
}

@font-face {
		font-family: "chatfont";
		src: url("/../../fonts/Roboto-LightItalic.TTF");
}

/*animated background*/
@-webkit-keyframes Gradient
{
	0% {
			background-position: 0% 50%
		}
	50% {
			background-position: 100% 50%
		}
	100% {
			background-position: 0% 50%
		}
}

@-moz-keyframes Gradient
{
	0% {
			background-position: 0% 50%
		}
	50% {
			background-position: 100% 50%
		}
	100% {
			background-position: 0% 50%
		}
}

@keyframes Gradient
{
	0% {
			background-position: 0% 50%
		}
	50% {
			background-position: 100% 50%
		}
	100% {
			background-position: 0% 50%
		}
}
@font-face {
  font-family: "decade";
  src: url(../fonts/decade.ttf);
}

body {
	/*background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/menuBackground.jpg);
	background-size: cover;*/
  /*background-color: #2a2a2a;*/
  font: 1.5em;
	color: white;
  text-shadow: 2px 2px 4px #000000;
  background: linear-gradient(-45deg, #2a2a2a, #383838, #484848, #505050);
	background-size: 1000% 1000%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

form {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin: 1% 0;
}

input {
	margin: .5em;
}

input[type="text"], input[type="password"], input[type="email"] {
	border: 0px solid #e9d66b;
	border-radius: 1.125em;
	font-size: 2em;
	padding: 0.1em 0.5em;
	background-color: #aeadae;
	font-family: chatfont, "Open Sans", sans-serif;
}


#radioList {
	display: flex;
	margin-bottom: 0.5em;
}

#icon {
		border-radius: 10%;
		border:1px solid #000000;
	}

input[type="color"] {
	height: 5em;
	width: 10em;
	border: none;
	background-color: #aeadae;
}

button {
	font-family: "decade","Open Sans", sans-serif;
	width: 50%;
	height: 3em;
	background: rgba(0,0,0,0);
	border: solid 2px #e9d66b;
	border-radius: 1.5em;
	color: #e9d66b;
	font-size: 1.5em;
}

button:hover {
	border: solid 2px #000000;
	background: rgba(0,0,0,0.3);
	color: #ffffff;
}



select {
	width: 50%;
}

h1 {
  	font-family: "decade","Open Sans", sans-serif;
	margin-top: 0px;
	text-align: center;
	font-size: 2em;
  letter-spacing: -1px;
}

h2 {
  	font-family: "chatusername","Open Sans", sans-serif;
	font-size: 1.5em;
	text-align: center;
}

h3
{
  font-size: 1em;
  color:#aeadae;
}
/*
a:visited
{
  font-size: 1.5em;
	color: #f4b921;
}
*/
a,a:visited,a:hover,a:active
{
  	-webkit-backface-visibility:hidden;
 	backface-visibility:hidden;
	position:relative;
  	transition:0.5s color ease;
	text-decoration:none;
	color:#f4b921;
	font-size:1em;
}

a:hover
{
	color:#ffffff;
}


a.before:before,a.after:after
{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}

a.before:before
{  top:-0.25em;}
a.after:after
{  bottom:-0.25em;}

a.before:before,a.after:after
{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}

a.first:after
{  left:0;}

a.second:after
{  right:0;}

a.third:after,a.sixth:before,a.sixth:after
{
  left:50%;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
}

a.fourth:before,a.fourth:after
{  left:0;}
a.fifth:before,a.fifth:after
{  right:0;}

a.seventh:before
{  right:0;}

a.seventh:after
{  left:0;}

a.eigth:before
{  left:0;}

a.eigth:after
{  right:0;}

a.before:hover:before,a.after:hover:after
{  width:100%;}

.container
{
	padding-top:5%;
}

#updateColor
{
	box-shadow: 2px 2px 4px #717171;
}

.member-name
{
	text-transform: capitalize;
}
