/*chat room styling*/
	
/*html elements*/
	html {
		min-height: 100vh;
	}

	body {
		min-height: 100vh;
		font-size: 15px;
	}

/*chat container*/
	.chatWrapper {
		height: 100vh;
		display: grid;
		grid-template-rows: 1fr 5fr 20vh;
		grid-template-columns: 20% 80%;
		grid-template-areas:
		"header header"
		"sidebar chatarea"
		"sidebar userarea";
	}

/*chat elements*/

	.chatElement {
		padding: 1em;
		overflow: auto;
	}

	#header {
		grid-area: header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: right;
	}

	#header a {
		font-size: 1em;
	}

	#sideBar {
		grid-area: sidebar;
	}

	#chatArea {
		grid-area: chatarea;
		overflow: auto;
		display: flex;
		flex-direction: column-reverse;
	}

	.chatMessage {
		margin-top: 1%;
		line-height: 1.25em;
		display: flex;
	}

	.chatMessage img {
		margin: 0 1em;
		height: 50px;
		width: 50px;
	}

/*user area elements*/

	#userArea {
		grid-area: userarea;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#chatInput {
		text-align: right;
		line-height: 2em;
	}

	#userInfo {
		text-align: center;
	}

	#userInfo img {
		height: 50px;
		width: 50px;
	}

	#logout {
		cursor: pointer;
	}

/*font styles*/

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	h6 {
		font-size: 0.75em;
	}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #848484;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#modalHeader
{
	color:#000000;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fefefe;
    color: white;
}

.modal-body p{padding: 2px 16px;
display: block;}

.modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
    color: #ffffff;
}