/*chat room styling*/
	
/*html elements*/
/*added animated bg*/

/*added font*/
@font-face {
    font-family: "glamourgirl";
    src: url("/../../fonts/glamourgirl.TTF");
}

body 
{
	width: 100wh;
	height: 90vh;
	font-size: 18px;
	font-family: "glamourgirl","Times New Roman", serif;
	background: linear-gradient(-45deg, #fd6bd7, #c300ff, #e17aa2, #ee2774);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient 
{
	0% {
			background-position: 0% 50%
		}
	50% {
			background-position: 100% 50%
		}
	100% {
			background-position: 0% 50%
		}
}

@-moz-keyframes Gradient 
{
	0% {
			background-position: 0% 50%
		}
	50% {
			background-position: 100% 50%
		}
	100% {
			background-position: 0% 50%
		}
}

@keyframes Gradient 
{
	0% {
			background-position: 0% 50%
		}
	50% {
			background-position: 100% 50%
		}
	100% {
			background-position: 0% 50%
		}
}



	html {
		min-height: 100vh;
		color: 	hsl(0, 100%, 30%);
	}
	/*

	body {
		min-height: 100vh;
		font-size: 15px;
		background-color:hsl(315, 100%, 70%);
	}*/

/*modal*/
	.modal {
		display: none;
	}

	.modalBackground {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}

	.modalForeground {
		position: fixed;
		top: 15%;
		left: 50%;
		transform: translateX(-50%);
		width: 50%;
		height: 30%;
		max-height: 70%;
		background: white;
		padding: 1em;
	}

	#hideModal {
		position: absolute;
		top: 1em;
		right: 1em;
		cursor: pointer;
	}

	#modalContent {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background: cyan;
	}

/*chat container*/
	.chatWrapper {
		min-height: 100vh;
		display: grid;
		grid-template-rows: 1fr 5fr 20vh;
		grid-template-columns: 20% 80%;
		grid-template-areas:
		"header header"
		"sidebar chatarea"
		"sidebar userarea";
	}

/*chat elements*/

	.chatElement {
		padding: 1em;
		overflow: auto;

	}

	#header {
		grid-area: header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: right;
	}

	#header a {
		font-size: 1em;
	}

	#sideBar {
		grid-area: sidebar;
	}

	#sideBar li {
		color: #000;
		font-size:1.25em;
	}

	#chatArea {
		grid-area: chatarea;
		border: solid 10px #fff;
		border-radius: 50px 0 0 0;
		background: rgba(0,0,0,0.3);
		border-right: none;
		margin-right: 10px;
		color:hsl(0, 100%, 60%);
		text-shadow: 2px 2px 4px #000000;
	}

	#chatArea img {
		border-radius: 50%
	}


	.chatMessage {
		margin-top: 1%;
		line-height: 1.25em;
	}

	
	
	#userArea {
		grid-area: userarea;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#chatInput {
		text-align: right;
		line-height: 2em;
	}

	#userInfo {
		text-align: center;
	}

	#userInfo h6 {
		color: #fff;
	}

	#userInfo img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}

	input[type="text"] {
            background: rgba(0,0,0,0);
            border: solid 5px #FFF;
            border-radius: 1.5em 0 0 1.5em;
            font-family: "glamourgirl","Times New Roman", sans-serif;
            color: #FFF;
            height: 1em;
            padding: 1em;
            width: 50%;
        }

        button {
            background: rgba(0,0,0,0);
            border: solid 5px #FFF;
            border-radius: 0 1.5em 1.5em 0;
            font-family: "glamourgirl","Times New Roman", sans-serif;
            color: #FFF;
            padding: 1em;
            margin-right: 10em;
        }

        button:hover {
        	background: rgba(255,255,255,0.5);
        }

	#settingsModal {
		cursor: pointer;
	}

	#skinModal {
		cursor: pointer;
	}

/*font styles*/

	h1 {
		font-size: 3em;
		color:white;
		font-family: "glamourgirl";
    text-shadow: 2px 2px 4px #000000;
		/*color: 	hsl(0, 100%, 60%);*/
		/*font-family: "Bauhaus 93", sans-serif;*/
		
	}

	h2 {
		font-size: 2em;
		color: white;
		text-shadow: 2px 2px 4px #000000;
		/*color: 	hsl(0, 100%, 60%);*/
		font-family: "Bauhaus 93", sans-serif;
	}

	h3 {
		font-size: 1.5em;
		text-shadow: 2px 2px 4px #000000;
		color: 	hsl(0, 100%, 60%);
	}

	h6 {
		font-size: 1em;
	}

	p {
		font-size: 1.25em;
	}