@font-face {
    font-family: "christmasLights";
    src: url("/../../fonts/christmasLights.ttf");
}

/*BODY ELEMENTS*/

	/*'global' effects here i.e. full body background, font styles, etc.*/
	body {
		background-color: #000;
	}

	/*All the different pieces that make up the page, you can set 'global' borders here etc.*/
	.chatWrapper {

	}

/**/

/*CHAT ELEMENTS*/

	/*Header area*/
		#header {
			text-transform: lowercase;
			font-family: "christmasLights";
			color: #fff;
			text-shadow: 2px 2px 8px rgba(0,255,0,1);
		}

		#loginArea {

		}

	/*Sidebar area*/
		#sideBar {
			background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("/../../img/xmasHeader.jpg") left bottom no-repeat, url("/../../img/xmasSideBar.jpeg") top no-repeat;
			background-size: contain;
		}

		#sideBar h2 {
			text-transform: lowercase;
			font-family: "christmasLights";
			color: #fff;
			text-shadow: 2px 2px 8px rgba(0,255,0,1);
		}

		#roomList {

		}

	/*Chat area*/
		#chatArea {
			background: linear-gradient(to left, rgba(0, 255, 0, 0.2), rgba(0, 50, 0, 0.4)), url("/../../img/xmasChatArea.jpg") right no-repeat;
			background-size: contain;
		}

		#chatArea h3 {
			text-transform: lowercase;
			font-family: "christmasLights";
			color: #fff;
			text-shadow: 2px 2px 8px rgba(0,0,255,1);
			font-size: 4em;
			margin-bottom: 0.5em;
		}

		#chatName {

		}

		#chatMessages {

		}

		.chatMessage {

		}

	/*User area*/
		#userArea {
			border-top: solid 10px linear-gradient(purple, blue);
			background: linear-gradient(to left, rgba(0, 255, 0, 0.2), rgba(0, 50, 0, 0.4));
		}

		#chatInput {

		}

		#userInfo {

		}

/**/

/*Font and image styles*/

		h1 {
			font-size: 4em;
		}

		h2 {
			font-size: 5em;
		}

		h3 {
			color: #fff;
		}

		h6 {
			color: #fff;
		}

		li {
			color: #fff;
		}

		p {

		}

		a {

		}

		img {
			border-radius: 50%;
		}