/*chat room styling*/
	
/*html elements*/
	html {
		min-height: 100vh;
		color: 	hsl(0, 100%, 30%);
	}

	body {
		min-height: 100vh;
		font-size: 15px;
		background-color:hsl(45, 100%, 65%);
	}

/*modal*/
	.modal {
		display: none;
	}

	.modalBackground {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}

	.modalForeground {
		position: fixed;
		top: 15%;
		left: 50%;
		transform: translateX(-50%);
		width: 50%;
		height: 30%;
		max-height: 70%;
		background: white;
		padding: 1em;
	}

	#hideModal {
		position: absolute;
		top: 1em;
		right: 1em;
		cursor: pointer;
	}

	#modalContent {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background: cyan;
	}

/*chat container*/
	.chatWrapper {
		min-height: 100vh;
		display: grid;
		grid-template-rows: 1fr 5fr 20vh;
		grid-template-columns: 20% 80%;
		grid-template-areas:
		"header header"
		"sidebar chatarea"
		"sidebar userarea";
	}

/*chat elements*/

	.chatElement {
		padding: 1em;
		overflow: auto;
	}

	#header {
		grid-area: header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: right;
	}

	#header a {
		font-size: 1em;
	}

	#sideBar {
		grid-area: sidebar;
	}

	#chatArea {
		grid-area: chatarea;
	}

	.chatMessage {
		margin-top: 1%;
		line-height: 1.25em;
	}

	#userArea {
		grid-area: userarea;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#chatInput {
		text-align: right;
		line-height: 2em;
	}

	#userInfo {
		text-align: center;
	}

	#userInfo img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}

	#settingsModal {
		cursor: pointer;
	}

	#skinModal {
		cursor: pointer;
	}

/*font styles*/

	h1 {
		font-size: 3em;
		color: 	hsl(0, 100%, 30%);
		font-family: "Bauhaus 93", sans-serif;

	}

	h2 {
		font-size: 2em;
		color: 	hsl(0, 100%, 30%);
		font-family: "Bauhaus 93", sans-serif;
	}

	h3 {
		font-size: 1.5em;
		color: 	hsl(0, 100%, 30%);
	}

	h6 {
		font-size: 0.75em;
		color: 	hsl(0, 100%, 30%);
	}